.searchBox {
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  font-size: 24px;
  font: 1em sans-serif;
  color: #0f0f0f;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.span {
  font-size: 24px;
  font-weight: bold;
  font: 0.8em sans-serif;
  color: #100f0f;
  text-align: left;
}
.input {
  width: 380px;
  padding: 10px;
  border: none;
  border: 1px solid #aca9a9;
  transition: border-bottom 0.3s ease-in-out;
  font-size: 18px;
  font: 1em sans-serif;
  color: #ede9e9;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.4);
  outline: none;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(81, 79, 79, 0);
  }
}
.searchBox_container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 440px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  padding-bottom: 10px;
  &:hover {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
}
