/* styles.css */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0;
  background-color: #fbf8f8;
  color: #e1dcdc;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

.errorloader {
  text-align: center;
}

.erroricon {
  width: 40px;
  height: 40px;
  border: 10px solid red;
  border-top: 10px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px auto;
}

.errormessage {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
