.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: background-color 0.3s ease;
}
.link {
  color: white;
  font-weight: bold;
}
.activeLink {
  color: rgb(192, 86, 237);
}
.wrapperLinks {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}
.h1 {
  font-size: 28px;
  width: 1350px;
  font-weight: bold;
  color: white;
  text-align: center;

  transition: color 0.3s ease;
  &:hover {
    color: black;
  }
  &:active {
    color: black;
  }
}
.nameuser {
  color: rgb(75, 235, 91);
  display: flex;
}
.name_wrapp {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.login {
  color: rgb(237, 86, 86);
  display: flex;
  gap: 4px;
  font-weight: bold;
  transition: color 0.3s ease;
}
