.input {
  width: 380px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f5f5;
  color: rgb(163, 161, 161);
  border-radius: 5px;
  border: 1px solid #aeaaaa;
  font-size: 16px;
  transition: border-bottom 0.3s ease-in-out;
}
.name_container {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 8px;
  flex-direction: column;

  width: 100%;
}
.number_container {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.errorMessage_number,
.errorMessage_name {
  color: brown;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
}
.label {
  display: flex;

  gap: 5px;
  font-size: 20px;
  font: 1em sans-serif;
  color: #272626;
  text-align: left;
  flex-direction: column;
}
.button {
  background-color: #e8be16;
  color: rgb(17, 17, 17);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
  font-size: 18px;
  font: 1em sans-serif;
  width: auto;
  text-align: center;
  align-items: center;
  &:hover {
    background-color: #c49e06;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
}
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #e9ecef;
    transition: background-color 0.3s ease-in-out;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}
.name {
  font-size: 14px;
  font: 1em sans-serif;
  color: #0e0e0e;
}
.number {
  font-size: 14px;
  font: 1em sans-serif;
  color: #0e0e0e;
}
