.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  background-color: rgb(199, 112, 243);
}
.link {
  color: white;
  font-weight: bold;
}
.activeLink {
  color: black;
}
.wrapperLinks {
  display: flex;
  gap: 10px;
}
.h1 {
  font-size: 28px;
  width: 500px;
  font-weight: bold;
  color: white;
  text-align: center;

  transition: color 0.3s ease;
  &:hover {
    color: black;
  }
  &:active {
    color: black;
  }
}
