#root {
  max-width: 1580px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #e3e1e1;
  background-color: #eeebeb;
  color: #333;
  transition: background-color 300ms;
  will-change: background-color;
}
h1 {
  font-size: 3em;
  margin: 0 auto;
  line-height: 1.1;
  font-weight: 700;
  width: 900px;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms;
  will-change: box-shadow;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
    transition: transform 300ms;
    will-change: transform;
    color: #f3eeee;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2),
      0 10px 20px rgba(0, 0, 0, 0.3);
  }
}
.App {
  position: relative;
  background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  background-size: cover;
  background-position: center;
  transition: background-color 300ms;
  will-change: background-color;
  min-height: 836px;
}

.App::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  pointer-events: none;
}
