.contacts {
  display: grid;
  min-width: 1440px;
  font: sans-serif;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 4px;
  margin: 0 auto;
  padding: 8px 8px 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  max-height: 500px;
  margin-bottom: 2rem;
  list-style-type: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contacts:hover {
  background-color: rgba(0, 0, 0, 0.15);
  color: #222;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2),
    0 10px 20px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 375px) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-bottom: 10px;
    background-color: #f7f5f5;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    max-height: 450px;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
  }
}
.nocontacts {
  font-size: 2em;
  margin-left: 630px;
  transition: color 0.3s ease;
  color: #b60808;
  margin-top: 2rem;
  width: auto;
  display: grid;
  place-items: center; /* Вертикальне та горизонтальне центрування */
}
.Loader {
  border-radius: 50%;
}
